/* add your CSS here */
/* ======================

      GENERAL STYLES
        
========================*/


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-sizing: border-box;
}

h3, p {
    margin-top:0;
}

h3 {
    font-weight: bold;
    font-size: 1.8rem;
}

p:last-child {
    margin-bottom:0;
}

.emphasize{
    font-style: italic;
}

body {
    font-size: 16px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: #000;
}

/* ======================

      CARD STYLES
        
========================*/


.card {
    max-width: 450px;
    width:100%;
    padding: 20px;
    border: 1px solid #bbb;
    margin: 40px auto 50px;
    box-shadow: 5px 5px 2px #eee;
    transition: box-shadow 0.3s linear;
    border-radius: 5px;
    background-color: rgb(38, 110, 31)
}

.card:hover {
    box-shadow: 10px 10px 10px #ccc;
}

.card h3 {
    font-size: 2em;
    color: #fff;
}

.picture {
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Description Text */
.picture img {
    width: 100%;
}

.picture .bonus-image {
    position: absolute;
    right: 100%;
    top: 0;
    z-index:2;
    transition: right 0.4s ease-out;
}

.picture:hover .bonus-image {
    right: 0;
}

.description {
    margin-top: 15px;
    padding: 15px 15px 25px;
    border: 1px solid #ddd;
    border-radius: 0px;
    background: rgb(252, 255, 217)
}

.features {
    list-style: none;
    padding-left: 0;
}

.features .label {
    font-weight: bold;
}